.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 80px;
    background-color: #fff;
}

.logo {
    width: 150px;
}

.navList {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navList li {
    margin-right: 30px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.navList li a {
    
    text-decoration: none;
    color: #12141D;
    font-weight: 500;
    font-size: 15px;
    transition: 0.1s
}

.btn_register {
    display: flex; 
    align-items: center; 
    justify-content: center;
    background-color: var(--color-primary-green);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    width: 160px;
    height: 46px;
}

.navList li a:hover {
    text-decoration: none;
    color: var(--color-primary-green);
    font-weight: 500;
    font-size: 15px;
    transition: 0.1s
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #12141D;
    margin-bottom: 5px;
    border-radius: 2px;
    transition: 0.3s;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 66%;
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 14px 5%;
    }

    .hamburger {
        display: flex;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    }

    .nav.open {
        right: 0;
    }

    .navList {
        flex-direction: column;
        align-items: center;
    }

    .navList li {
        margin: 15px 0;
    }

    .btn_register {
        margin-top: 20px;
    }

    .hamburger.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
    }
}