body {
    font-family: Arial, sans-serif;
    margin-left : 0;
    margin-right: 0;
    padding: 0;
    background-color: #fff;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 60px;
  }

  .left_section {
    width: 50%;
  }

  .left_section h1 {
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 30px;
    color: #000;
  }

  .devices_image {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  .right_section {
    display: flex;
    align-items: center;
    padding-left: 10px;
}


  .card {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    border-top: 1px solid #A0AEC0;
    width: 60%;

  }

  .card h2 {
    font-size: 24px;
    color: #000;
    margin-bottom: 10px;
  }

  .card p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .learn_more {
    color: #00A859;
    font-weight: bold;
    text-decoration: none;
  }

  .learn_more:hover {
    text-decoration: underline;
  }
  @media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 20px; /* Adjust gap for smaller screens */
    }

    .left_section, .right_section {
        width: 100%;
        padding: 0; /* Remove padding if needed */
    }
    .card{
        align-items: center;
        text-align: center;
    }
}
