.FeatureThree{
    background-color: #e8f1df;
    padding: 10px 50px;
}
.text_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
.card{
    /* background: #ffffff; */
    margin: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 381px;
    height: 481;
}
.cards_up{
    display: flex;
}
.card h2{
    color: black;
    font-family: Outfit;
    font-size: 28px;
    font-weight: 700;
    line-height: 31.2px;
    text-align: left;   
}
.card p{

    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #323B49;

}
.card img{
    height: 481;
    width: 381px;
    border-radius: 10px;
}
.links{
    color: var(--color-primary-green);
    font-family: Outfit;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-decoration: none;
}
@media (max-width: 767px) {
    .cards_up{
        flex-direction: column;
    }

    .cards_down{
        flex-direction: column;
    }
}
